<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead class="table">
        <tr class="table-dark">
          <th scope="col">Oferta</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody class="table-hover" *ngFor="let item of this.arrayTitleOfferAdmin">
        <tr>
          <td>{{item.titulo}}</td>
          <td><button class="btn btn-dark" (click)="this.eraseOffer(item.id)">Borrar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>