<div class="container">
<form>
    <div class="mb-3">
      <label for="user" class="form-label">User</label>
      <input type="user" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe">
      <label class="form-check-label" for="remenberMe">Recuerdame</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <button type="submit" (click)="this.goToHome()" class="btn btn-primary">Ir al Home</button>
    </div>
</div>